@font-face {
    font-family: 'blenda_scriptregular';
    src: url('fonts/blenda_script-webfont.eot');
    src: url('fonts/blenda_script-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/blenda_script-webfont.woff2') format('woff2'),
    url('fonts/blenda_script-webfont.woff') format('woff'),
    url('fonts/blenda_script-webfont.ttf') format('truetype'),
    url('fonts/blenda_script-webfont.svg#blenda_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;

}