@mixin border-radius($radius: 0px){
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin transitions(){
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}

@mixin transition-background($speed: 0.2s){
    -webkit-transition: background $speed;
    -moz-transition: background $speed;
    -o-transition: background $speed;
    transition: background $speed;
}

@mixin transitions-height($distance: 0.5s){
    -webkit-transition: height $distance;
    -moz-transition: height $distance;
    -o-transition: height $distance;
    transition: height $distance;
}

@mixin clearfix {
    content: "";
    clear: both;
    display: block;
}