@mixin border-radius($radius: 0px){
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin transitions{
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

@mixin transition-background($speed: 0.2s){
    -webkit-transition: background $speed;
    -moz-transition: background $speed;
    -o-transition: background $speed;
    transition: background $speed;
}

@mixin clearfix {
    content: "";
    clear: both;
    display: block;
}