@import "mixins";
@import "fonts";

// fonts
$hattyFont1: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Arial;
$hattyFont3: 'blenda_scriptregular';

// colours
$color1: #ec008c;
$color2: #4d2977;
$color3: #9babaf;
$color4: #444444;

// furniture colours
$borderColor: #e5e5e5;

body {
    margin: 0;
    padding: 0;
    background: $color3;
    color: $color4;
    font-family: $hattyFont1;
    font-size: small;
    -webkit-text-size-adjust: none;
    position: relative;
}

// resets
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0 0 12px 0;
    line-height: 130%;
    -webkit-font-smoothing: antialiased;
    font-family: $hattyFont1;

}

h1, h2, h3, h4, h5, h6 {
    color: #000000;
    font-weight: normal;
}

img {
    border: none;
}

strong {
    font-weight: normal;
    color: #000000;
}

// utils
.cleft { clear: left; }
.cboth { clear: both; }

.desktop {

    .telephone {
        cursor: text;
        color: $color4;

        &:hover {
            text-decoration: none;
        }
    }
    .body {

        .body-content {

            .telephone {
                color: $color4;
            }
        }
    }

    .header {

        .telephone {
            cursor: text;
            color: #ffffff;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

.mobile {

    .desktop-only {
        display: none !important;
    }
}

#mobile-nav-button,
.mobile-only {
    display: none;
}

#overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background: black;
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
    padding-top: 200px;

    .job-specs {
        width: 600px;
        margin: 0 auto;
        background-color: #fff;
        padding: 30px;
        box-sizing: border-box;
        text-align: left;
        position: relative;
        @include dropshadow();

        .job-summary {
            width: 340px;
        }

        .close-button {
            position: absolute;
            top: -15px;
            right: -15px;

            &.circle {
                width: 32px;
                height: 32px;
                color: #ffffff;
                font-size: 1.4em;
                padding-top: 3px;
                box-sizing: border-box;
                cursor: pointer;
            }
        }
    }
}

.job-specs {

    a {
        color: $color1;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    .job-summary {
        float: left;
        width: 400px;

        h3 {
            padding-bottom: 5px;
        }

        p {
            padding-bottom: 15px;
        }

        ul {
            padding: 0 0 10px 15px;
            margin: 0;

            li {
                padding-bottom: 4px;
            }
        }
    }

    .job-meta {
        float: right;
        width: 170px;
        text-align: right;

        h3 {
            padding-bottom: 2px;
        }

        .share {

            h4 {
                padding-bottom: 2px;
            }

            border-top: 1px solid $borderColor;
            padding-top: 10px;
        }
    }
}

.circle {
    @include border-radius(50%);
    text-align: center;
    box-sizing: border-box;
    display: block;

    span {
        display: inline-block;
    }
}
.pink {
    background: $color1;
    color: #ffffff;
}

.purple {
    background: $color2;
    color: #ffffff;
}

.grey {
    background: $color3;
    color: #ffffff;
}

.page {
    width: 768px;
    margin: 0 auto;
    background: #ffffff;


    /* general to page */
    .job-title,
    .job-location {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        color: #000000;
    }

    .highlight {
        color: $color1;
        padding-bottom: 5px;
        margin-bottom: 20px;
        border-bottom: 1px solid $borderColor;
    }

    ///////////////////////////////

    .header {
        padding: 40px 0 20px 0;
        background: #ec008c;
        color: #ffffff;
        position: relative;

        h1 {
            text-align: center;
            margin: 0;
            padding: 0;
            a {
                display: inline-block;
            }
        }

        p {
            color: #ffffff;
            font-size: 1.0em;
        }

        .subtitle {
            text-align: center;

            p {
                display: inline-block;
                font-size: 1.2em;
                padding-bottom: 10px;
                border-bottom: 2px solid #4d2977;
            }
        }

        .navigation {
            padding: 15px 0 0 0;
            float: left;
            width: 100%;
            overflow: hidden;
            position: relative;

            > ul {
                margin: 0;
                padding: 0 0 15px 0;
                list-style: none;
                clear:left;
                float:left;
                position:relative;
                left:50%;
                text-align:center;

                li {
                    display:block;
                    float:left;
                    list-style:none;
                    margin:0;
                    padding:0;
                    position:relative;
                    right:50%;
                    border-right: 1px solid #ffffff;
                    color: #ffffff;
                    line-height: 130%;

                    &.no-link {
                        border-right: none;

                        a {
                            float: left;
                            padding-right: 2px;
                        }

                        .social {
                            line-height: 130%;
                            float: left;

                            a {
                                display: inline-block;
                                color: $color1;
                                background-color: #ffffff;
                                width: 16px;
                                height: 16px;
                                @include border-radius(8px);
                                font-size: 0.85em;
                                padding: 0;
                                margin-left: 3px;
                            }
                        }
                    }

                    a {
                        color: #ffffff;
                        text-decoration: none;
                        display: block;
                        padding: 0 6px;
                        font-size: 0.95em;
                        text-transform: uppercase;
                    }

                }
            }
        }

        .page-navigation {
            position: absolute;
            top: 420px;
            color: $color1;
            background-color: #ffffff;
            width: 44px;
            height: 44px;
            font-size: 3.6em;
            text-align: center;
            line-height: 43px;
            vertical-align:middle;
            display:inline-block;
            @include border-radius(22px);

            &.page-left {
                left: -22px;

                 i {
                     margin-left: -7px;
                 }
            }

            &.page-right {
                right: -22px;

                i {
                    margin-right: -7px;
                }
            }

        }

        /* general to header */
        h2 {
            padding: 0 0 15px 0;
            font-size: 2.0em;
            font-weight: normal;
            color: #ffffff;
        }

        p {
            padding-bottom: 7px;
        }

        .copy {

            a {
                color: #ffffff;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }

                &.telephone {

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }

        .form {
            padding-top: 5px;

            input,
            textarea {
                -webkit-appearance: none;
                font-family: $hattyFont1;
                @include border-radius(6px);
                padding: 7px 10px;
                font-size: 1.1em;
                border: none;
                outline: none;
                resize: none;
                box-sizing: border-box;

                &.text-input {
                    width: 100%;
                }
            }

            textarea {
                height: 70px;
            }

            select {
                -webkit-appearance: none;
                font-family: $hattyFont1;
                @include border-radius(6px);
                cursor: pointer;
                padding: 6px 40px 6px  10px;
                font-size: 1.2em;
                border: none;
                outline: none;
                background: url("../images/bg-select.png") right 4px no-repeat #fff;
            }

            .circle {
                width: 31px;
                height: 31px;
                display: inline-block;

                span {
                    padding: 8px 0;
                    text-transform: uppercase;
                    font-size: 0.9em;
                    text-align: center;
                }
            }

            .row {
                display: block;
                padding-bottom: 10px;
                text-align: center;

                label {
                    display: none;
                }

                select {
                    width: 100%;
                }

                &.submit {
                    text-align: right;
                    padding-top: 10px;
                    padding-bottom: 0;

                    input {
                        border: none;
                        @include border-radius(6px);
                        font-family: $hattyFont1;
                        padding: 8px 25px;
                        font-size: 1.1em;
                        color: #ffffff;
                        background-color: $color2;
                        cursor: pointer;
                    }
                }

            }
        }
        /* general to header */

        .introduction {
            width: 610px;
            margin: 0 auto;

            .copy {
                float: left;
                width: 250px;
                padding-bottom: 15px;
            }

            .image {
                float: right;
                width: 326px;

                .photo-frame {
                    width: 326px;
                    height: 228px;
                    background: url("../images/photo-frame.png") 0 0 no-repeat;
                    text-align: center;

                    img {
                        width: 240px;
                        height: 154px;
                        display: inline-block;
                        padding-left: 3px;
                        padding-top: 32px;
                    }
                }
            }

            &.resources {

                .copy {
                    width: 320px;
                }
            }
        }

        .search-form,
        .contact-form {
            width: 610px;
            margin: 0 auto;

            .copy {
                float: left;
                width: 370px;
            }

            .form-box {
                float: right;
                width: 200px;
            }

            span {

                &.error {
                    text-align: left;
                    display: none;
                }
            }

            .row {

                &.error {

                    span {

                        &.error {
                            display: block;
                        }
                    }
                }
            }
        }

        .contact-form {

            .row {

                &.submit {
                    padding: 0;
                }
            }

            .cv-upload {
                width: 105px;
                float: right;
            }

            .file-upload {
                position: relative;
                overflow: hidden;
                float: left;

                .fake-upload-button {
                    border: none;
                    @include border-radius(6px);
                    font-family: $hattyFont1;
                    padding: 7px 12px;
                    font-size: 1.1em;
                    color: #000000;
                    background-color: $color3;
                    cursor: pointer;
                    display: inline-block;
                    float: left;
                }

                input {

                    &.upload {
                        position: absolute;
                        top: 0;
                        right: 0;
                        margin: 0;
                        padding: 0;
                        font-size: 20px;
                        cursor: pointer;
                        opacity: 0;
                        filter: alpha(opacity=0);
                    }
                }
            }
        }

        .big-link {
            float: right;
            width: 250px;
            text-align: right;

            .circle {
                margin-top: -35px;
                width: 240px;
                height: 240px;
                display: inline-block;
                padding-top: 40px;

                .title {
                    font-size: 2.2em;
                    padding-bottom: 10px;
                }

                .subtitle {
                    font-size: 1.2em;
                }
            }
        }
    }

    .body {
        width: 610px;
        margin: 30px auto;

        .big-links {

            ul {
                margin: 0;
                padding: 0 0 25px 0;
                list-style: none;
                float: left;
                border-bottom: 1px solid $borderColor;

                li {
                    float: left;
                    width: 192px;

                    &.left-link {
                        a {
                            float: left;
                        }
                    }

                    &.middle-link {
                        width: 223px;
                        text-align: center;
                        border-right: 1px solid $borderColor;
                        border-left: 1px solid $borderColor;

                        a {
                            display: inline-block;
                        }
                    }

                    &.right-link {
                        a {
                            float: right;
                        }
                    }

                    a {
                        display: block;
                        text-align: center;
                    }
                }
            }
        }

        &.resources {

            .big-links {

                ul {
                    border: none;

                    li {
                        &.middle-link {
                            border: none;
                        }

                        &.bottom {
                            width: 50%;

                            &.bottom-left {
                                .circle {
                                    margin-right: -26%;
                                }
                            }

                            &.bottom-right {
                                .circle {
                                    margin-left: -26%;
                                }
                            }
                        }
                    }
                }
            }
        }

        .circle {
            width: 166px;
            height: 166px;
            padding-top: 32px;

            span {

                &.title {
                    font-size: 1.5em;
                    padding-bottom: 7px;
                }

                &.subtitle {
                    font-size: 0.9em;
                    line-height: 140%;
                }
            }
        }

        .text-links {

            ul {
                margin: 0;
                padding: 25px 0 0 0;
                list-style: none;
                width: 610px;
                float: left;
                overflow: hidden;

                li {
                    float: left;
                    width: 101px;
                    border-left: 1px solid $borderColor;
                    box-sizing: border-box;
                    padding-bottom: 10000px;
                    margin-bottom: -10000px;

                    span {
                        display: block;
                        padding: 0 7px 2px 7px;

                        &.job-details {
                            font-size: 0.9em;
                            padding-bottom: 5px;
                            line-height: 120%;
                        }
                    }

                    a {
                        font-size: 1.0em;
                        display: block;
                        padding: 0 7px;
                        color: $color1;
                        text-decoration: none;
                    }

                    &.text-links-title {
                        width: 105px;
                        border-left: none;

                        h2 {
                            font-size: 1.6em;
                            line-height: 110%;
                            font-weight: normal;
                            padding: 0 7px 5px 0;
                        }

                        span {
                            padding: 0 7px 5px 0;

                            &.subtitle {
                                font-size: 0.9em;
                                line-height: 120%;
                            }
                        }

                    }
                }
            }
        }

        .body-content {
            width: 610px;
            margin: 0 auto;

            .copy {
                float: left;
                width: 370px;
            }

            .image {
                float: right;
                width: 200px;

                .photo-frame {
                    text-align: right;

                    img {
                        padding: 20px;
                        background-color: $color4;

                    }
                }
            }

            a {
                color: $color1;
                text-decoration: none;
            }

            .list {

                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    li {
                        padding-bottom: 12px;
                        margin-bottom: 10px;
                        border-bottom: 1px solid $borderColor;

                        span {
                            display: block;
                            padding-bottom: 3px;

                            &.job-title {
                                font-size: 1.3em;
                            }

                            &.job-location,
                            &.job-salary {
                                font-size: 1.1em;
                            }

                            &.job-details {
                                font-size: 0.9em;
                                line-height: 130%;
                            }
                        }
                    }
                }
            }
        }

        .map-content {
            width: 610px;
            margin: 0 auto;

            .address {
                float: left;
                width: 130px;

                .circle {
                    width: 128px;
                    height: 128px;
                    padding-top: 25px;

                    span {
                        &.title {
                            font-size: 1.3em;
                        }
                    }
                }
            }

            .map-box {

                padding: 12px;
                float: right;
                @include dropshadow();

                #map {
                    width: 425px;
                    height: 290px;
                    background-color: #e8e8e8;
                }
            }
        }

        .read-more {
            font-family: $hattyFont3;
        }
    }

    .footer {

        .footer-text {
            width: 425px;
            margin: 0 auto;

            .footer-text-left {
                width: 270px;
                float: left;
                box-sizing: border-box;
                background: url("../images/telephone.png") top right no-repeat;
                padding-right: 125px;
                padding-bottom: 20px;

                h3 {
                    font-weight: normal;
                    font-size: 1.8em;
                    padding: 0;
                }

                p {
                    font-size: 0.8em;
                    padding: 0 0 5px 0;
                    line-height: 140%;

                    &.contact {
                        font-size: 0.8em;

                        a {
                            text-decoration: none;
                            color: #444;
                        }
                    }
                }

                .social {
                    line-height: 130%;
                    float: left;

                    a {
                        display: inline-block;
                        color: #ffffff;
                        background-color: $color1;
                        width: 32px;
                        height: 32px;
                        @include border-radius(16px);
                        font-size: 1.4em;
                        padding: 7px 0 0 0;
                        margin-right: 3px;
                        text-align: center;
                        box-sizing: border-box;
                    }
                }
            }

            .footer-text-right {
                width: 130px;
                float: right;

                h3 {
                    font-weight: normal;
                    font-size: 0.8em;
                    padding: 0;
                }

                address,
                p {
                    font-size: 0.8em;
                    font-style: normal;
                }
            }
        }

        .logo-box {
            width: 100%;

            .footer-logos {
                position: relative;
                width: 685px;
                margin: 0 auto;
                padding-bottom: 20px;

                .footer-logo-left {
                    float: left;
                    position: absolute;
                    left: 0;
                    top: -70px;
                }

                .footer-logo-right {
                    float: right;
                    position: absolute;
                    right: 0;
                    top: -70px;

                    img {
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 870px) {
    .page {

        .header {

            .page-navigation {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .page {
        width: 100%;
    }
}

@media only screen and (max-width: 750px) {
    .page {

        .navigation {

            > ul {

                li {
                    &.last-link {
                        border-right: none;
                    }
                    &.no-link {
                        display: none;
                    }
                }
            }
        }

        .footer {
            padding: 0;

            .footer-text {
                width: 610px;
                border-bottom: 1px solid $borderColor;
                margin-bottom: 20px;

                .footer-text-left {
                    width: 275px;

                    h3 {
                        font-weight: normal;
                        font-size: 1.8em;
                        padding: 0;
                    }

                    p {
                        font-size: 0.8em;
                        padding: 0 0 5px 0;
                        line-height: 140%;

                        &.contact {
                            font-size: 0.8em;

                            a {
                                text-decoration: none;
                                color: #444;
                            }
                        }
                    }
                }

                .footer-text-right {
                    width: 220px;

                    h3 {
                        font-weight: normal;
                        font-size: 1.4em;
                        padding: 4px 0 0 0;
                    }

                    address,
                    p {
                        font-size: 0.8em;
                        font-style: normal;
                        line-height: 140%;
                    }
                }
            }

            .logo-box {
                .footer-logos {
                    position: static;
                    width: 610px;

                    .footer-logo-left,
                    .footer-logo-right{
                        position: static;
                    }
                }
            }
        }

        .mobile-only {
            display: block;
        }
    }
}

@media only screen and (max-width: 700px) {
    .page {
        .header {

            .introduction {
                width: auto;
                padding: 0 30px;

                .copy {
                    float: none;
                    width: 100%;

                    h2 {
                        padding-bottom: 10px;
                    }
                }

                .image {
                    float: none;
                    width: 100%;

                    .photo-frame {
                        margin: 0 auto;
                    }
                }

                &.resources {

                    .copy {
                        width: auto;
                    }
                }
            }

            .search-form,
            .contact-form {
                width: auto;
                margin: 0 auto;
                padding: 0 30px;

                .copy {
                    float: none;
                    width: 100%;
                }

                .form-box {
                    float: none;
                    width: 100%;

                    .form {
                        margin: 0 auto;
                        padding-top: 15px;
                    }
                }
            }

            .contact-form {
                .cv-upload {
                    width: 172px;
                    float: left;
                    margin-left: 12px;
                }
            }

            .big-link {
                float: none;
                width: auto;
                text-align: center;

                .circle {
                    margin-top: 0;
                }
            }
        }

        .job-summary {
            float: none;
            width: auto;
        }

        .job-meta {
            float: none;
            width: auto;
            text-align: left;
        }

        .body {
            width: auto;
            margin: 30px;

            .big-links {

                ul {
                    width: 100%;

                    li {
                        float: left;
                        width: 50%;

                        &.left-link {
                            a {
                                float: left;
                            }
                        }

                        &.middle-link {
                            width: 50%;
                            text-align: right;
                            border: none;
                            float: right;

                            a {
                                float: right;
                            }
                        }

                        &.right-link {
                            width: 100%;
                            text-align: center;
                            a {
                                float: none;
                                display: inline-block;
                            }
                        }

                        a {
                            display: block;
                            text-align: center;
                        }
                    }
                }
            }

            &.resources {

                .big-links {

                    ul {
                        float: left;

                        li {
                            float: left;
                            width: 100%;
                            text-align: left;

                            &.big-link-5 {
                                 a {
                                     float: left;
                                 }
                            }

                            a {
                                margin-top: -35px;
                            }

                            &.big-link-1 {
                                 a {
                                     margin-top: 0;
                                 }
                             }

                            &.bottom {
                                width: 100%;

                                &.bottom-left {
                                    .circle {
                                        margin-right: 0;
                                    }
                                }

                                &.bottom-right {
                                    .circle {
                                        margin-left: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .text-links {

                ul {
                    width: 100%;
                    float: none;
                    overflow: auto;
                    padding-top: 5px;

                    li {
                        float: none;
                        width: auto;
                        border-left: none;
                        box-sizing: border-box;
                        margin-bottom: inherit;
                        border-bottom: 1px solid $borderColor;
                        padding: 7px 0;

                        span {
                            display: block;
                            padding: 0 0 2px 0;
                        }

                        a {
                            display: inline;
                            padding: 0 7px 0 0;
                        }

                        &.text-links-title {
                            width: auto;
                            border-left: none;

                            h2 {
                                padding: 0 0 5px 0;
                            }

                            span {
                                padding: 0 0 5px 0;

                                &.subtitle {
                                    font-size: 0.9em;
                                }
                            }
                        }
                    }
                }
            }


            .body-content {
                width: auto;
                margin: 0 auto;

                .copy {
                    float: none;
                    width: 100%;
                }

                .image {
                    float: none;
                    width: 100%;

                    .photo-frame {
                        padding: 10px 0;
                        text-align: center;
                    }
                }
            }

            .map-content {
                width: auto;
                margin: 0 auto;

                .address {
                    float: none;
                    width: 100%;
                    margin-bottom: 10px;
                    
                    p {
                        float: left;
                    }
                    
                    .circle {
                        float: right;
                        margin-top: -25px;
                        margin-bottom: 20px;
                    }
                }

                .map-box {

                    padding: 12px;
                    width: 100%;
                    box-sizing: border-box;
                    float: right;
                    @include dropshadow();
                    margin-bottom: 10px;

                    #map {
                        width: 100%;
                        height: 290px;
                        background-color: #e8e8e8;
                    }
                }
            }
        }

        .footer {
            padding: 0 30px;

            .footer-text {
                width: auto;
            }

            .logo-box {
                .footer-logos {
                    width: auto;
                }
            }
        }
    }
}

@media only screen and (max-width: 650px) {
    .page {

        .footer {

            .footer-text {

                .footer-text-left {
                    padding-bottom: 10px;
                }

                .footer-text-right {
                    width: 100%;
                    float: left;

                    h3 {
                        font-size: 1.2em;
                        padding: 0;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .page {

        .header {

            .subtitle {

                p {
                    display: inherit;
                    padding: 0 30px 10px 30px;
                }
            }

            .navigation {
                padding: 0;
                margin-bottom: 15px;
                height: 0px; /* js controlled */
                position: relative;

                > ul {
                    float: none;
                    background-color: $color2;
                    padding: 15px 30px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;

                    li {
                        float: none;
                        right: inherit;
                        border: none;
                        text-align: left;
                        padding: 0;

                        a {
                            padding: 5px 0;
                        }
                    }
                }

                /* used by js */
                &.hidden {
                    height: 0px;
                    @include transitions-height();
                }

                &.displayed {
                    height: 180px;
                    @include transitions-height();
                }
                /* --------- */
            }
        }
    }

    #mobile-nav-button {
        display: block;
        position: absolute;
        top: 156px;
        left: 0; /* js controlled */
        width: 34px;
        height: 34px;
        @include border-radius(50%);
        overflow: hidden;

        span {
            width: 34px;
            height: 34px;
            @include border-radius(50%);
            text-align: center;
            box-sizing: border-box;
            padding-top: 5px;
            font-size: 1.5em;
            display: inline-block;
        }

        &.open {
            span {
                background-color: #ffffff;
                color: $color1;
                @include transitions();
            }
            .fa-close {
                display: none;
            }
        }

        &.close {
            span {
                padding-top: 4px;
                background-color: $color2;
                color: #ffffff;
                @include transitions();
            }
            .fa-bars {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 450px) {
    .page {

        .header {

            .subtitle {

                p {
                    display: inherit;
                    padding: 0 20px 15px 20px;
                    font-size: 1.3em;
                }
            }

            .navigation {

                > ul {
                    padding: 15px 20px;
                }
            }

            .introduction {
                padding: 0 20px;

                .image {

                    .photo-frame {
                        width: 270px;
                        height: 189px;
                        background-size: cover;

                        img {
                            width: 199px;
                            height: 128px;
                            padding-top: 27px;
                        }
                    }
                }
            }

            .search-form,
            .contact-form {
                padding: 0 20px;
            }
        }


        .body {
            margin: 20px;

            .big-links {

                .circle {
                    width: 130px;
                    height: 130px;

                    span {

                        &.title {
                            padding-top: 1px;
                        }

                        &.subtitle {
                            display: none;
                        }
                    }
                }

                .left-link,
                .right-link {

                    .title {
                        padding: 0 12px 7px 12px;
                    }
                }
            }

            &.resources {

                .big-links {

                    ul {

                        li {
                            .circle {
                                width: 140px;
                                height: 140px;
                                padding-top: 30px;

                                span {

                                    line-height: 130%;

                                    &.title {
                                        font-size: 1.4em;
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }

        .footer {
            padding: 0 20px;
        }
    }
}