body {
    margin: 0;
    padding: 0;
    background: #9babaf;
    color: #444444;
    font-family: 'blenda_scriptregular';
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Arial;
    font-size: small;
    -webkit-text-size-adjust: none;
}


@import "mixins";
@import "fonts";

// resets
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0 0 12px 0;
    line-height: 130%;
}

h1, h2, h3, h4, h5, h6 {
    color: #000000;
}

img {
    border: none;
}

// colours
$color1: #ec008c;
$color2: #4d2977;
$color3: #9babaf;

// furniture colours
$borderColor: #e5e5e5;

// utils
.cleft { clear: left; }
.cboth { clear: both; }


.page {
    width: 768px;
    margin: 0 auto;
    background: #ffffff;

    .header {
        padding: 40px 30px;
        background: #ec008c;
        color: #ffffff;

        h1 {
            text-align: center;
            margin: 0;
            padding: 0;
            a {
                display: inline-block;
            }
        }

        p {
            color: #ffffff;
            font-size: 1.0em;
        }

        .subtitle {
            text-align: center;

            p {
                display: inline-block;
                font-size: 1.2em;
                padding-bottom: 10px;
                border-bottom: 2px solid #4d2977;
            }
        }

        .navigation {
            padding: 15px 0;
            float: left;
            width: 100%;
            overflow: hidden;
            position: relative;

            > ul {
                margin: 0;
                padding: 0 0 25px 0;
                list-style: none;
                clear:left;
                float:left;
                position:relative;
                left:50%;
                text-align:center;

                li {
                    display:block;
                    float:left;
                    list-style:none;
                    margin:0;
                    padding:0;
                    position:relative;
                    right:50%;
                    border-right: 1px solid #ffffff;
                    color: #ffffff;
                    line-height: 130%;

                    &.no-link {
                        border-right: none;
                        padding: 0 6px;
                    }

                    a {
                        color: #ffffff;
                        text-decoration: none;
                        display: block;
                        padding: 0 6px;
                        font-size: 0.9em;
                        text-transform: uppercase;
                    }
                }

            }
        }

        .introduction {
            width: 610px;
            margin: 0 auto;

            .copy {
                float: left;
                width: 250px;

                h2 {
                    padding: 0;
                    font-size: 1.9em;
                    font-weight: normal;
                    color: #ffffff;
                }

            }
            .image {
                float: right;
                width: 326px;

                .photo-frame {
                    width: 326px;
                    height: 228px;
                    background: url("../images/photo-frame.png") 00 no-repeat;
                    text-align: center;

                    img {
                        width: 240px;
                        height: 154px;
                        display: inline-block;
                        padding-left: 3px;
                        padding-top: 32px;
                    }
                }
            }
        }
    }

    .body {
        width: 610px;
        margin: 30px auto;

        .big-links {

            ul {
                margin: 0;
                padding: 0 0 25px 0;
                list-style: none;
                float: left;
                border-bottom: 1px solid $borderColor;

                li {
                    float: left;
                    width: 192px;

                    &.left-link {
                        a {
                            float: left;
                        }
                    }

                    &.middle-link {
                        width: 223px;
                        text-align: center;
                        border-right: 1px solid $borderColor;
                        border-left: 1px solid $borderColor;

                        a {
                            display: inline-block;
                        }
                    }

                    &.right-link {
                        a {
                            float: right;
                        }
                    }

                    a {
                        display: block;
                        text-align: center;
                    }
                }
            }
        }

        .circle {
            width: 166px;
            height: 166px;
            @include border-radius(50%);
            text-align: center;
            box-sizing: border-box;
            padding-top: 32px;

            span {
                display: inline-block;

                &.title {
                    font-size: 1.5em;
                    padding-bottom: 7px;
                }

                &.subtitle {
                    font-size: 0.9em;
                }
            }
        }

        .pink {
            background: $color1;
            color: #ffffff;
        }

        .purple {
            background: $color2;
            color: #ffffff;
        }

        .grey {
            background: $color3;
            color: #ffffff;
        }

        .text-links {

            ul {
                margin: 0;
                padding: 25px 0 0 0;
                list-style: none;
                width: 610px;
                float: left;
                overflow: hidden;

                li {
                    float: left;
                    width: 101px;
                    border-left: 1px solid $borderColor;
                    box-sizing: border-box;
                    padding-bottom: 10000px;
                    margin-bottom: -10000px;

                    span {
                        display: block;
                        padding: 0 7px 2px 7px;

                        &.job-title,
                        &.job-location {
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            color: #000000;
                        }

                        &.job-details {
                            font-size: 0.85em;
                            padding-bottom: 5px;
                        }
                    }

                    a {
                        font-size: 0.9em;
                        display: block;
                        padding: 0 7px;
                        color: $color1;
                        text-decoration: none;
                    }

                    &.text-links-title {
                        width: 105px;
                        border-left: none;

                        h2 {
                            font-size: 1.6em;
                            line-height: 110%;
                            font-weight: normal;
                            padding: 0 7px 5px 0;
                        }

                        span {
                            padding: 0 7px 5px 0;

                            &.subtitle {
                                font-size: 0.85em;
                            }
                        }

                    }
                }
            }
        }
    }

    .footer {

        .footer-text {
            width: 425px;
            margin: 0 auto;

            .footer-text-left {
                width: 260px;
                float: left;
                box-sizing: border-box;
                background: url("../images/telephone.png") top right no-repeat;
                padding-right: 125px;
                padding-bottom: 40px;

                h3 {
                    font-weight: normal;
                    font-size: 1.8em;
                    padding: 0;
                }

                p {
                    font-size: 0.75em;
                    padding: 0 0 5px 0;
                    line-height: 140%;

                    &.contact {
                        font-size: 0.7em;

                        a {
                            text-decoration: none;
                            color: #444;

                            &.telephone {
                                cursor: text;
                            }
                        }
                    }
                }
            }

            .footer-text-right {
                width: 130px;
                float: right;

                h3 {
                    font-weight: normal;
                    font-size: 0.8em;
                    padding: 0;
                }

                address,
                p {
                    font-size: 0.8em;
                    font-style: normal;
                }
            }
        }

        .logo-box {
            width: 100%;

            .footer-logos {
                position: relative;
                width: 685px;
                margin: 0 auto;
                padding-bottom: 20px;

                .footer-logo-left {
                    float: left;
                    position: absolute;
                    left: 0;
                    top: -70px;
                }

                .footer-logo-right {
                    float: right;
                    position: absolute;
                    right: 0;
                    top: -70px;

                    img {
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}